@model PackBuddy.Models.ViewModels.GearViewModels.GearFormViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4 style="text-align: center">Update - @Model.Name</h4>
<hr />
<div class="row">
    <div class="col-md-3" style="margin: auto;">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearTypeId" class="control-label"></label>
                <select asp-for="GearTypeId" class="form-control" asp-items="@Model.GearTypeOptions">
                    <option selected value="null" disabled> Please select a type</option>
                </select>
                <span asp-validation-for="GearTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Condition" class="control-label"></label>
                <input asp-for="Condition" class="form-control" />
                <span asp-validation-for="Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"> @(Model.ImageString != null? "Update your Image?" : "Upload an Image")</label>
                <input asp-for="ImagePath" class="form-control-file" type="file" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
                @if (Model.ImageString != null)
                {
                <img style="max-height: 150px;" src="~/images/@Model.ImageString" />
                <input hidden asp-for="ImageString" class="form-control" />
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
