@*@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>*@

<p>PACK BUDDY WAS BUILT IN FRONT OF A LIVE STUDIO AUDIENCE</p>

<a href="https://github.com/jamesnitz/Pack-Buddy" target="_blank">GITHUB</a>
<a href="https://jamesnitz.com" target="_blank">My Site</a>
