
<p>PACK Buddy was designed and written by James Nitz!</p>
<div>Shout outs to: FlatIcon, Bootswatch, Cohort 37, and Nashville Software School</div>
<p>
    For More information take a look at <a href="https://github.com/jamesnitz/Pack-Buddy" target="_blank">GITHUB</a> or <a href="https://jamesnitz.com" target="_blank">My Site</a>
</p>
