@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pack Buddy</h1>
</div>
<div class="homeButtons">
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Gears" asp-action="Index">My Gear</a>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Trips" asp-action="Index">My Trips</a>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="SharedGears" asp-action="Index">Borrow Gear</a>
    <a class="btn btn-primary btn-lg" role="button" asp-area="" asp-controller="Api" asp-action="Index">New Gear</a>
</div>
