@model PackBuddy.Models.COPYJSON.RootGear
@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>
<form class="form-inline my-2 my-lg-0" asp-controller="API" asp-action="Index">
    <input class="form-control mr-sm-2" type="text" name="searchString" placeholder="Product search">
    <button class="btn btn-secondary my-2 my-sm-0 compSearch" type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Pic
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Result)
        {
        <tr>
            <td>
                <img src="@Html.DisplayFor(ModelItem => item.Images.PrimarySmall)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalPrice)
            </td>
            <td>
            <button class="btn btn-info" data-target="#apigear-@item.Id " data-toggle="modal">View More</button>
            </td>
                <div class="modal" id="apigear-@item.Id" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Details</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <a href="@item.AffiliateWebUrl" target="_blank">Purchase Link</a>
                            </div>
                        </div>
                    </div>
                </div>
        </tr>
        }
    </tbody>
</table>

