@model IEnumerable<PackBuddy.Models.Trip>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="tripCardList">
    @foreach (var item in Model)
    {
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
            <div class="card-body">
                <img src="~/images/trip_forest.png" />
                <h6 class="card-title">@Html.DisplayFor(modelItem => item.StartDate) - @Html.DisplayFor(modelItem => item.EndDate) </h6>

            </div>
        </div>
    }
</div>
