
@{
    ViewData["Title"] = "TripCreated";
}

<h1>Your Trip has been created</h1>
<form asp-controller="Orders" asp-action="Delete" method="post">
    <input type="submit" class="btn btn-success bg-success border-success" value="Start Packing" />
</form>
<form asp-controller="Trips" asp-action="Index">
    <input type="submit" class="btn btn-secondary bg-secondary border-secondary" value="Not Yet" />
</form>
