@model PackBuddy.Models.ViewModels.GearTripViewModels.AddGearTripViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GearTrip</h4>
<hr />
<form asp-action="Create">
    <div class="gearTrip_GearCardList">
        @foreach (var item in Model.Gears)
        {
            <div class="card border-primary mb-3" style="max-width: 9rem;">
                <div class="card-header">@Html.DisplayFor(modelItem => item.Name)</div>
                <div class="card-body">
                    <h6 class="card-title">@Html.DisplayFor(modelItem => item.GearType.Label)</h6>
                    @if (item.ImagePath != null)
                    {
                        <img style="max-height: 50px; max-width: 2rem" src="~/images/@item.ImagePath" alt="gearItem picture" />
                    }
                    else
                    {
                        <img style="max-height: 50px; max-width: 2rem" src="~/images/@item.GearType.ImagePath" alt="gearType picture" />
                    }
                    <p class="card-text">
                        @Html.DisplayFor(modelItem => item.Description)
                    </p>
                </div>
                <input type="checkbox" id="@item.Id" class="form-control" value="true">
            

            </div>
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
<div>
    <a asp-controller="Trips" asp-action="Index">Back to List</a>
</div>

